---

- name: Update packages...
  apt:
    update_cache: yes
    upgrade: yes

- name: install cli apps...
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - curl
      - htop
      - tmux
      - tree
      - mc
      - neofetch
      - ansible
      - zip
    state: latest

- name: install cli apps networking...
  apt:
    name:
      - fail2ban
      - iperf3
      - mtr
      - dnsutils
      - net-tools
      - nmap
      - ntp
      - openssh-server
      - traceroute
      - whois
      - tcpdump
      - wget
      - aria2
    state: latest
  notify:
    - start fail2ban

- name: ansible-galaxy install collection...
  community.general.ansible_galaxy_install:
    type: collection
    name: "{{ item }}"
    force: false
  loop:
    - community.general
    - community.crypto
    - ansible.posix

#- name: Start fail2ban...
#  notify:
#    - start fail2ban
