---

- name: Install OpenVPN package...
  apt:
    update_cache: yes
    name: openvpn
    state: latest
  notify:
    - stop openvpn.service

- name: Copy basic OpenVPN config's...
  ansible.builtin.copy:
    src: templates/openvpn/root/
    dest: /etc/openvpn

- name: Copy easy-rsa...
  ansible.builtin.copy:
    src: templates/openvpn/easy-rsa
    dest: /etc/openvpn
    owner: root
    group: root
    mode: u=rwx,g=rwx,o+rx
  notify:
    - restart openvpn

- name: Add VPN network to NAT...
  iptables:
    table: nat
    chain: POSTROUTING
    out_interface: eth0
    source: 10.110.0.0/24
    destination: 0.0.0.0/0
    jump: MASQUERADE
    protocol: all
    comment: OpenVPN network Masquerade

- name: Enable IPv4 forwarding...
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true

#- name: Start OpenVPN Server daemon...
#  notify:
#    - start openvpn
    
