- name: create client {{ client }} configuration
  template:
    src=wg_client.conf.j2
    dest="{{ wg_clients_dir }}/{{ client }}.conf"
    owner=root
    group=root
    mode=0644
  vars:
    wg_pubkey_file: "{{ wg_srvkeys_dir }}/wg_pubkey"
    client_privkey_file: "{{ wg_clientkeys_dir }}/{{ client }}_privkey"
    client_publey_file: "{{ wg_clientkeys_dir }}/{{ client }}_pubkey"
    wg_pub_key: "{{ query('file', wg_pubkey_file ) }}"
    client_priv_key: "{{ query('file', client_privkey_file ) }}"
